@import url(../header/__link/_logo/header__link_logo.css);
@import url(../header/__list/header__list.css);
@import url(../header/__item/header__item.css);
@import url(../header/__link/header__link.css);

.header {
    position: absolute;
    box-sizing: border-box;

    width: 100%;
    display: flex;
    justify-content: space-between;

    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    color: #FFF;

    padding: 56px 190px 0;
    margin: 0 auto;
}