@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);

.intro {
    height: 100vh;
    background: url(/images/wraper/background.jpg) no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;

    padding-top: 260px;
    padding-left: 190px;
}