/*Сброс дефолтных настроек бразеров*/
@import url(../vendor/reset.css);
/*Подключаю шрифты*/
@import url(../vendor/fonts.css);
/*Блок Header*/
@import url(../blocks/header/header.css);
/*Блок Intro*/
@import url(../blocks/intro/intro.css);
/*Блок Benefits*/
@import url(../blocks/benefits/benefits.css);
/*Блок Inspiration*/
@import url(../blocks/inspiration/inspiration.css);
/*Блок Visit*/
@import url(../blocks/visit/visit.css);
/*Блок Video*/
@import url(../blocks/video/video.css);

.page-wrapper {
    width: 100%;
    background-color: #F2F2F2;
}

.page {
    position: relative;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
    background-color: #FFF;
    padding: 0;
    margin: 0 auto;
}

.button {
    box-sizing: border-box;

    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    color: #FFF;

    background-color: #1B7DFF;
    border: 0;
}

.button:hover, .button:focus, .button:active {
    cursor: pointer;
    background-color: #2a66b5;
}

.section-title{
    position: relative;
    padding-bottom: 7px;

    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
}

.section-title::after{
    display: block;
    content: " ";
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

.link-arrow {
    text-decoration: none;
    text-transform: uppercase;
    background-image: url(../images/link-arrow.svg);
    transition: .2s all;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
}

.link-arrow:hover, .link-arrow:focus {
    background-image: url(../images/link-arrow.svg);
}