/*Сброс дефолтных настроек бразеров*/
@import url(../vendor/reset.css);
/*Подключаю шрифты*/
@import url(../vendor/fonts.css);
/*Блок Header*/
@import url(../blocks/header/header.css);
/*Блок Intro*/
@import url(../blocks/intro/intro.css);
/*Блок Benefits*/
@import url(../blocks/benefits/benefits.css);

.page-wrapper {
    width: 100%;
}

.page {
    position: relative;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    padding: 0;
    margin: 0 auto;
}

.background-wrapper {
    width: 1440px;
    height: 960px;
    background: url(../images/wraper/background.jpg) no-repeat center;
    background-size: cover;
}